img{
    object-fit: contain;
    height: 200px;
    padding: 1rem;
}

.me-auto{
    margin-left: 90%;
}
.home_detail{
    color: rgb(0, 0, 0);
}
.home_detail:hover{
    color: red;
}
.section{
    display: flex; 
    justify-content: center; 
    margin-bottom: 3rem;
}
.section_card{
    margin: 1rem;
    width: 300px;
    
}
.Similary_info{
    padding-top: 5rem;
}
.Similary_info h2{
    color: black;
}
