img{
    object-fit: contain;
    height: 200px;
    padding: 1rem;
}

.me-auto{
    margin-left: 90%;
}
.home_detail{
    color: rgb(0, 0, 0);
}
.home_detail:hover{
    color: red;
}
.section{
    display: flex; 
    justify-content: center; 
    margin-bottom: 3rem;
}
.section_card{
    margin: 1rem;
    width: 300px;
    
}
.Similary_info{
    padding-top: 5rem;
}
.Similary_info h2{
    color: rgb(178, 178, 178);
}
.Detail_price{
    display: flex;
    justify-content: space-around;
    border: 10px;
}
.d-block.w-100{
    height: 500px;
}
.ms-5.me-auto{
    
    width: 500px;
}
.container_price{
    margin-top: 2rem;
}
.container_description{
    margin-top: 4rem;
}
.Item_price{
    margin-top: 0.5rem;
}
.Category_home{
    color: rgb(56, 56, 56);
}
.Home_category{
    margin-top: 2rem;
}
.Category_home:hover{
    color: red;
    
}
.fa-solid.fa-house{
   margin-top: 2rem;
   padding-left: 0.5rem;
}
.Login{
    width: 50%;
    margin-top: 2rem;
    margin-left: 25%;
    
}
.input_detail{
    height: 30px;
    width: 50px;
    margin-right: 2rem;
    text-align: center;
}